<div class="container mt-5">
  <nav class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
        <a href="#!" class="page-link" (click)="currentPage = currentPage - 1"
          >Prev</a
        >
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li
          class="page-item"
          [appClass]="{ active: i === currentPage }"
          *ngIf="checkWindowIndex(i)"
        >
          <a href="#!" class="page-link" (click)="currentPage = i">{{
            i + 1
          }}</a>
        </li>
      </ng-container>
      <li
        class="page-item"
        [appClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a href="#!" class="page-link" (click)="currentPage = currentPage + 1"
          >Next</a
        >
      </li>
    </ul>
  </nav>

  <div class="text-center mt-4">
    <h4>{{ images[currentPage].title }}</h4>
    <img
      [src]="images[currentPage].url"
      alt=""
      class="w-50 img-thumbnail img-fluid"
    />
  </div>

  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <p>{{ images[currentPage].id }}</p>
    </div>
    <div *ngSwitchCase="2">
      <p>{{ images[currentPage].id }}</p>
    </div>
    <div *ngSwitchCase="4">
      <p>{{ images[currentPage].id }}</p>
    </div>
    <div *ngSwitchCase="6">
      <p>{{ images[currentPage].id }}</p>
    </div>
    <div *ngSwitchDefault></div>
  </div>

  <ul *appTimes="5">
    <li>Hi There!</li>
  </ul>
</div>
